<div class="container-fluid">
    <div class="row">
      <div class="col-md-12 m-3">
        <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary m-3">
          <h2 class='title'> <i class="fa fa-github"></i> GitSearch
          </h2>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </nav> -->
        <app-search (searchUser)="performSearch($event)"></app-search>
        <div class="row m-2">
          <div class="col-md-6">
            <h4>{{user.login}}</h4>
            <div>
              <img src="{{ user.avatar_url}}" alt="{{user.login}}">
            </div>
            <div><h5>{{ user.public_repos }}</h5></div>
            <div><h5>{{user.email}}</h5></div>
            <div><h5>{{user.bio}}</h5></div>
            <div><h5>followers:{{user.followers}} following: {{user.following}}</h5></div>
            <div><p>Been running for: {{user.created_at|dateCount}} days.</p></div>
          </div>
          <div class="col-md-6">
            <a href="#" class="list-group-item list-group-item-action active">
              {{serviceService.user.login}} Repositories
            </a>
            <ul *ngFor='let repo of serviceService.repositories ; let i = index' class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <a target="_blank" href="{{serviceService.repositories[i].html_url}}"  appStrike >
                  {{i+1}}.{{serviceService.repositories[i].name}}
                </a>
                <!-- <p>{{serviceService.repositories[i].description }}</p> -->
                <p>{{serviceService.repositories[i].language }}</p>
              </li>
            </ul>
          </div>
        </div>
  
      </div>
    </div>
  